* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
}

#container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 250, 95);
}

/*
background-color: rgb(197, 255, 185);
*/

#header {
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

#main-heading {
    margin: 0;
}

.button-row {
    display: flex;
    justify-content: center;
}

#sign-in-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#account-info {
    display: flex;
}

#account-info-username {
    margin: 0.5em;
    font-size: 1.1rem;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    margin: 0.5em 0.25em;
    background-color: rgb(218, 214, 214);
}

.button:hover,
.button:focus {
    background-color: rgb(199, 192, 192);
}

.modal[open] {
    max-width: 95%;
    border: 1px solid black;
    background-color: rgb(197, 255, 185);
}

/*
background-color: rgb(237, 255, 71);
*/

.modal::backdrop {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#terms-of-service-text {
    text-align: center;
    max-width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    margin: 0.25em 0;
}

.textarea {
    resize: none;
}

.textarea:active {
    border: 2px solid rgb(1, 94, 1);
}

.close-button {
    align-self: flex-end;
}

.hidden {
    display: none;
}

#sign-in-error-message {
    color: #c70c0c;
}

.note-date-string,
.note-text {
    margin: 0.5em;
}

#footer {
    padding: 0.5em;
}

.footer-text {
    margin: 0.5em;
}
