* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    cursor: pointer;
    border-radius: 5px;
}

#sign-in-form,
#create-account-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#close-sign-in-modal-button {
    align-self: flex-end;
}

.hidden {
    display: none;
}

#sign-in-error-message {
    color: red;
}
